<section role="main" class="content">
@{

Layout="/Shared/_layout.cshtml";
Page.Author = "João Batista Ferreira @johnylab";

	string
		categoria = "",
		titulo = "Entity Converter. Get the html entity and hex code to a character. Laboratório de desenvolvimento web de João Ferreira.",
		description = "Aplicativo para conversão de caracteres especiais em códigos correspondentes para uso em CSS ou javascript. Cole o caractere desejado ou o código decimal correspondente para ver como usá-lo.";


	<h2 class="post-title">Entity Converter</h2>
	<article>
		<p>Aplicativo para conversão de caracteres especiais em códigos correspondentes para uso em CSS ou javascript. Cole no campo abaixo o caractere desejado ou o código decimal correspondente para ver como usá-lo em seu site/app.</p>
		<link rel="stylesheet" href="/apps/entity-converter/source/css/main.css">
		<script src="/apps/entity-converter/source/js/main.js"></script>
		<div class="body" style="height:auto;width:auto;">
			<section>
			<div class="inline-control">
				<p>Type decimal code or paste the character (and press Enter):</p>
			</div>
			<div class="inline-control">
				<input class="input" type="text" placeholder="&#128291; (or code)" name="char" autofocus>
			</div>
			</section>
			
			<div class="output"></div>
		</div>
	</article>
	<div id="disqus_thread" style="margin-top:3em;"></div>
	<script type="text/javascript">
		var disqus_shortname = 'johnylab';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


	Page.Title = titulo;
	Page.Description = description;

}
</section>