<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Entity Converter</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/source/css/main.css">
</head>
<body>

    <header class="site-header grid">
        <h1 class="_cell">
            <a href="http://johnylab.net/">
                <img class="site-logo" src="http://johnylab.net/favicon.png" width="40" alt="Johnylab"> 
                <span class="site-title">Johnylab</span>
            </a>
        </h1>
        <nav class="_cell _shrink site-nav">
            <a href="https://github.com/Johnylab/entity-converter">Baixar no Github</a>
        </nav>
    </header>

    {{ content }}

	<script src="{{ site.baseurl }}/source/js/main.js"></script>
	
</body>
</html>